#baner {
    background-color: #829EB9;
    height: 50px;
    font-family: Arial;
    text-align: center;

}

#lewy {
    background-color: #B3C6D9;
    height: 600px;
    float: left;

}

#prawy {
    background-color: #E0E9F1;
    height: 600px;
    width: 75%;
    float: left;

}

#stopka {
    background-color: #829EB9;
    font-family: Arial;
    text-align: right;
    clear: both;
}

img {
    margin: 30px;
    padding: 10px;
    border: #B3C6D9 dotted 2px;
}

table {
    margin: 30px;
    border: 2px solid;
    width: 70%;
    border-collapse: collapse;
}

td, th {
    border: 2px solid;
}
th {
    background-color: #B3C6D9;
}

tr:hover {
    color: white;
    background-color: blue;
}

p {
    margin: 30px;
}